
#central-content {
    padding: 0.2rem 1rem;
    margin-left: 0%;
}

#menu-button {
    position: fixed;
}

#side-nav {
    height: 100%;
    position: fixed;
    width: calc(9% + 9rem);
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #155799, #159957);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 1rem;
    padding-left:0.1rem;
}

@media screen {
    #side-nav {display: block;}
    #central-content { margin-left:calc(9% + 9rem)}
    #menu-button {display: none}
}