#side-nav { display: none;}

#central-content {
    padding: 0.2rem 1rem;
    margin-left: 0%;
}

#menu-button {
    position: fixed;
}

@media screen and (min-width: 600px) {
    #side-nav {display: block;}
    #central-content { margin-left:calc(8% + 11rem)}
    #menu-button {display: none}
}


#side-nav {
    height: 100%;
    position: fixed;
    width: calc(8% + 11rem);
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #155799, #159957);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 1rem;
    padding-left:0.1rem;
}

