<!DOCTYPE html>
<html lang="{{ site.lang | default:  'en-US' }}">

<head>
  <title>{{page.title}}</title>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{site.baseurl}}/styles/cayman-style.css">
  <link rel="stylesheet" href="{{site.baseurl}}/styles/styles.css">
  
</head>

<body>


  <nav id="side-nav">
    <span class="toc-list" style="font-size: .8rem; cursor:pointer; padding-left: 1em; padding-right: 1em;" onclick="hideNav()">&#10006</span>
    <hr>
    <a class="toc-list" href="{{site.baseurl}}/index.html#top" style="color:white">Home</a>
    <hr>
    <a class="toc-list" href="{{site.baseurl}}/index.html#content" style="color:white">Content Overview</a>
    <hr>
    <p class="toc-list" style="font-size: 0.6em;">Current Page and its content:</p>
    <section class="nav-toc">
    </section>
  </nav>


  <section id='central-content' class="main-content">
    <!--on this page: header and footer are only visible when on top respectively bottom-->

    <div id="menu-button" style="font-size:2.5rem;cursor:pointer"
      onmouseover="document.getElementById('menu-button').innerHTML = '&#9776'"
      onmouseout="document.getElementById('menu-button').innerHTML = '&nbsp&nbsp&nbsp'" onclick="showNav()">
      &nbsp&nbsp&nbsp
    </div>

    <header style="text-align: center;">
      <h1 class="project-name" style="color: azure;">{{ site.title | default: site.github.repository_name }}</h1>
      {% if page.home %}
      <p>{{ site.description | default: site.github.project_tagline }}</p>
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
    </header>


    <section class="nav-content">
      {{ content }}
    </section>


    <footer class="site-footer" style="text-align: center;">
      {% if site.github.is_project_page %}
      <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a>
        is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
      <span class="site-footer-credits">This page is hosted on <a href="https://pages.github.com">GitHub
          Pages</a>.</span>
    </footer>
  </section>





  {% unless page.no_tocnav %}
  <link rel="stylesheet" href="{{site.baseurl}}/navbar/pos.css">
  <link rel="stylesheet" href="{{site.baseurl}}/navbar/tocstyle.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.2/tocbot.min.js"></script>
  <script src="{{site.baseurl}}/navbar/navbar_toggle.js"></script>
  <script>
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.nav-toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.nav-content',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h1, h2, h3, h4',
      // For headings inside relative or absolute positioned containers within content.
      hasInnerContainers: true,
      headingsOffset: 20,
      scrollSmoothOffset: -20,

    });
  </script>
  {% endunless %}

</body>

</html>
